.col{
  height: auto;
  display: flex;
  margin-left: 0%;
}
/**GAP**/
.col--gap-0{
  margin-top: calc(var(--spacing) * 0);
  padding-left: calc(var(--spacing) * 0);
}
.col--gap-1{
  margin-top: calc(var(--spacing) * 1);
  padding-left: calc(var(--spacing) * 1);
}
.col--gap-2{
  margin-top: calc(var(--spacing) * 2);
  padding-left: calc(var(--spacing) * 2);
}
.col--gap-3{
  margin-top: calc(var(--spacing) * 3);
  padding-left: calc(var(--spacing) * 3);
}
.col--gap-4{
  margin-top: calc(var(--spacing) * 4);
  padding-left: calc(var(--spacing) * 4);
}
.col--gap-5{
  margin-top: calc(var(--spacing) * 5);
  padding-left: calc(var(--spacing) * 5);
}
.col--gap-6{
  margin-top: calc(var(--spacing) * 6);
  padding-left: calc(var(--spacing) * 6);
}
.col--gap-7{
  margin-top: calc(var(--spacing) * 7);
  padding-left: calc(var(--spacing) * 7);
}
.col--gap-8{
  margin-top: calc(var(--spacing) * 8);
  padding-left: calc(var(--spacing) * 8);
}
.col--gap-9{
  margin-top: calc(var(--spacing) * 9);
  padding-left: calc(var(--spacing) * 9);
}
.col--gap-10{
  margin-top: calc(var(--spacing) * 10);
  padding-left: calc(var(--spacing) * 10);
}

@media (min-width:760px){
  .mqt-col--gap-0{
    margin-top: calc(var(--spacing) * 0);
    padding-left: calc(var(--spacing) * 0);
  }
  .mqt-col--gap-1{
    margin-top: calc(var(--spacing) * 1);
    padding-left: calc(var(--spacing) * 1);
  }
  .mqt-col--gap-2{
    margin-top: calc(var(--spacing) * 2);
    padding-left: calc(var(--spacing) * 2);
  }
  .mqt-col--gap-3{
    margin-top: calc(var(--spacing) * 3);
    padding-left: calc(var(--spacing) * 3);
  }
  .mqt-col--gap-4{
    margin-top: calc(var(--spacing) * 4);
    padding-left: calc(var(--spacing) * 4);
  }
  .mqt-col--gap-5{
    margin-top: calc(var(--spacing) * 5);
    padding-left: calc(var(--spacing) * 5);
  }
  .mqt-col--gap-6{
    margin-top: calc(var(--spacing) * 6);
    padding-left: calc(var(--spacing) * 6);
  }
  .mqt-col--gap-7{
    margin-top: calc(var(--spacing) * 7);
    padding-left: calc(var(--spacing) * 7);
  }
  .mqt-col--gap-8{
    margin-top: calc(var(--spacing) * 8);
    padding-left: calc(var(--spacing) * 8);
  }
  .mqt-col--gap-9{
    margin-top: calc(var(--spacing) * 9);
    padding-left: calc(var(--spacing) * 9);
  }
  .mqt-col--gap-10{
    margin-top: calc(var(--spacing) * 10);
    padding-left: calc(var(--spacing) * 10);
  }
}

@media (min-width:960px){
  .mqd-col--gap-0{
    margin-top: calc(var(--spacing) * 0);
    padding-left: calc(var(--spacing) * 0);
  }
  .mqd-col--gap-1{
    margin-top: calc(var(--spacing) * 1);
    padding-left: calc(var(--spacing) * 1);
  }
  .mqd-col--gap-2{
    margin-top: calc(var(--spacing) * 2);
    padding-left: calc(var(--spacing) * 2);
  }
  .mqd-col--gap-3{
    margin-top: calc(var(--spacing) * 3);
    padding-left: calc(var(--spacing) * 3);
  }
  .mqd-col--gap-4{
    margin-top: calc(var(--spacing) * 4);
    padding-left: calc(var(--spacing) * 4);
  }
  .mqd-col--gap-5{
    margin-top: calc(var(--spacing) * 5);
    padding-left: calc(var(--spacing) * 5);
  }
  .mqd-col--gap-6{
    margin-top: calc(var(--spacing) * 6);
    padding-left: calc(var(--spacing) * 6);
  }
  .mqd-col--gap-7{
    margin-top: calc(var(--spacing) * 7);
    padding-left: calc(var(--spacing) * 7);
  }
  .mqd-col--gap-8{
    margin-top: calc(var(--spacing) * 8);
    padding-left: calc(var(--spacing) * 8);
  }
  .mqd-col--gap-9{
    margin-top: calc(var(--spacing) * 9);
    padding-left: calc(var(--spacing) * 9);
  }
  .mqd-col--gap-10{
    margin-top: calc(var(--spacing) * 10);
    padding-left: calc(var(--spacing) * 10);
  }
}
/**SPAN**/
.col--span-0{
  width: calc((100 / 12) * 0%);
}
.col--span-1{
  width: calc((100% / 12) * 1);
}
.col--span-2{
  width: calc((100% / 12) * 2);
}
.col--span-3{
  width: calc((100% / 12) * 3);
}
.col--span-4{
  width: calc((100% / 12) * 4);
}
.col--span-5{
  width: calc((100% / 12) * 5);
}
.col--span-6{
  width: calc((100% / 12) * 6);
}
.col--span-7{
  width: calc((100% / 12) * 7);
}
.col--span-8{
  width: calc((100% / 12) * 8);
}
.col--span-9{
  width: calc((100% / 12) * 9);
}
.col--span-10{
  width: calc((100% / 12) * 10);
}
.col--span-11{
  width: calc((100% / 12) * 11);
}
.col--span-12{
  width: calc((100% / 12) * 12);
}
@media (min-width: 760px){
  .mqt-col--span-0{
    width: calc((100 / 12) * 0%);
  }
  .mqt-col--span-1{
    width: calc((100% / 12) * 1);
  }
  .mqt-col--span-2{
    width: calc((100% / 12) * 2);
  }
  .mqt-col--span-3{
    width: calc((100% / 12) * 3);
  }
  .mqt-col--span-4{
    width: calc((100% / 12) * 4);
  }
  .mqt-col--span-5{
    width: calc((100% / 12) * 5);
  }
  .mqt-col--span-6{
    width: calc((100% / 12) * 6);
  }
  .mqt-col--span-7{
    width: calc((100% / 12) * 7);
  }
  .mqt-col--span-8{
    width: calc((100% / 12) * 8);
  }
  .mqt-col--span-9{
    width: calc((100% / 12) * 9);
  }
  .mqt-col--span-10{
    width: calc((100% / 12) * 10);
  }
  .mqt-col--span-11{
    width: calc((100% / 12) * 11);
  }
  .mqt-col--span-12{
    width: calc((100% / 12) * 12);
  }
}
@media (min-width: 960px){
  .mqd-col--span-0{
    width: calc((100 / 12) * 0%);
  }
  .mqd-col--span-1{
    width: calc((100% / 12) * 1);
  }
  .mqd-col--span-2{
    width: calc((100% / 12) * 2);
  }
  .mqd-col--span-3{
    width: calc((100% / 12) * 3);
  }
  .mqd-col--span-4{
    width: calc((100% / 12) * 4);
  }
  .mqd-col--span-5{
    width: calc((100% / 12) * 5);
  }
  .mqd-col--span-6{
    width: calc((100% / 12) * 6);
  }
  .mqd-col--span-7{
    width: calc((100% / 12) * 7);
  }
  .mqd-col--span-8{
    width: calc((100% / 12) * 8);
  }
  .mqd-col--span-9{
    width: calc((100% / 12) * 9);
  }
  .mqd-col--span-10{
    width: calc((100% / 12) * 10);
  }
  .mqd-col--span-11{
    width: calc((100% / 12) * 11);
  }
  .mqd-col--span-12{
    width: calc((100% / 12) * 12);
  }
}

/**OFFSET**/
.col--offset-0{
  margin-left: calc((100 / 12) * 0%);
}
.col--offset-1{
  margin-left: calc((100 / 12) * 1%);
}
.col--offset-2{
  margin-left: calc((100 / 12) * 2%);
}
.col--offset-3{
  margin-left: calc((100 / 12) * 3%);
}
.col--offset-4{
  margin-left: calc((100 / 12) * 4%);
}
.col--offset-5{
  margin-left: calc((100 / 12) * 5%);
}
.col--offset-6{
  margin-left: calc((100 / 12) * 6%);
}
.col--offset-7{
  margin-left: calc((100 / 12) * 7%);
}
.col--offset-8{
  margin-left: calc((100 / 12) * 8%);
}
.col--offset-9{
  margin-left: calc((100 / 12) * 9%);
}
.col--offset-10{
  margin-left: calc((100 / 12) * 10%);
}
@media (min-width: 760px){
  .mqt-col--offset-0{
    margin-left: calc((100 / 12) * 0%);
  }
  .mqt-col--offset-1{
    margin-left: calc((100 / 12) * 1%);
  }
  .mqt-col--offset-2{
    margin-left: calc((100 / 12) * 2%);
  }
  .mqt-col--offset-3{
    margin-left: calc((100 / 12) * 3%);
  }
  .mqt-col--offset-4{
    margin-left: calc((100 / 12) * 4%);
  }
  .mqt-col--offset-5{
    margin-left: calc((100 / 12) * 5%);
  }
  .mqt-col--offset-6{
    margin-left: calc((100 / 12) * 6%);
  }
  .mqt-col--offset-7{
    margin-left: calc((100 / 12) * 7%);
  }
  .mqt-col--offset-8{
    margin-left: calc((100 / 12) * 8%);
  }
  .mqt-col--offset-9{
    margin-left: calc((100 / 12) * 9%);
  }
  .mqt-col--offset-10{
    margin-left: calc((100 / 12) * 10%);
  }
}
@media (min-width: 960px){
  .mqd-col--offset-0{
    margin-left: calc((100 / 12) * 0%);
  }
  .mqd-col--offset-1{
    margin-left: calc((100 / 12) * 1%);
  }
  .mqd-col--offset-2{
    margin-left: calc((100 / 12) * 2%);
  }
  .mqd-col--offset-3{
    margin-left: calc((100 / 12) * 3%);
  }
  .mqd-col--offset-4{
    margin-left: calc((100 / 12) * 4%);
  }
  .mqd-col--offset-5{
    margin-left: calc((100 / 12) * 5%);
  }
  .mqd-col--offset-6{
    margin-left: calc((100 / 12) * 6%);
  }
  .mqd-col--offset-7{
    margin-left: calc((100 / 12) * 7%);
  }
  .mqd-col--offset-8{
    margin-left: calc((100 / 12) * 8%);
  }
  .mqd-col--offset-9{
    margin-left: calc((100 / 12) * 9%);
  }
  .mqd-col--offset-10{
    margin-left: calc((100 / 12) * 10%);
  }
}