.gallery{

}

.gallery-wrapper{
  padding-top: calc(var(--spacing) * 25) ;
  padding-bottom: calc(var(--spacing) * 25) ;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  background: none;
}



.app__gallery-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 650px;

}


.app__gallery-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

}

@media(min-width:960px){
  .gallery-wrapper{
    flex-direction: row;
  }
  .app__gallery-content{
    width: 40%;
  }
  .app__gallery-images {
    width:45%;
  }
}




