.text{
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-light-text);

}

.text--primary-1{
  color: var(--color-primary-1);
}
.text--primary-2{
  color: var(--color-primary-2);
}
.text--secondary-1{
  color: var(--color-secondary-1);
}
.text--secondary-2{
  color: var(--color-secondary-2);
}
.text--warning-1{
  color: var(--color-warning-1);
}
.text--warning-2{
  color: var(--color-warning-2);
}
.text--error-1{
  color: var(--color-error-1);
}
.text--error-2{
  color: var(--color-error-2);
}
/**SIZEE**/
.text--big{ 
  font-size: calc(var(--font-big) - 20px);
  line-height: calc(var(--font-big) + 2px);
}

@media(min-width: 360px){
  .text--big{
    font-size: calc(var(--font-big) - 5px);
    line-height: calc(var(--font-big) + 2px);
  }
}
@media(min-width: 760px){
  .text--big{
    font-size: var(--font-big);
    line-height: calc(var(--font-big) + 2px);
  }
}
@media(min-width: 1024px){
  .text--big{
    font-size: calc(var(--font-big) + 25px);
    line-height: calc(var(--font-big) + 29px);
    font-family: var(--font-head);
  }
}
@media(min-width: 2024px){
  .text--big{
    font-size: calc(var(--font-big) + 45px);
    line-height: calc(var(--font-big) + 45 + 35px);
    font-family: var(--font-head);
  }
}
.text--h1{
  font-size: var(--font-h1);
  line-height: calc(var(--font-h1) + 2px);
  font-family: var(--font-head);
}
@media(min-width: 360px){
  .text--h1{
    font-size: calc(var(--font-h1) - 5px);
    line-height: calc(var(--font-h1) + 2px);
  }
}
@media(min-width: 760px){
  .text--h1{
    font-size: var(--font-h1);
    line-height: calc(var(--font-h1) + 2px);
  }
}
@media(min-width: 1024px){
  .text--h1{
    font-size: calc(var(--font-h1) + 20px);
    line-height: calc(var(--font-h1) + 29px);  
  }
}
@media(min-width: 2024px){
  .text--h1{
    font-size: calc(var(--font-h1) + 35px);
    line-height: calc(var(--font-h1) + 35 + 35px);  
  }
}
.text--h2{
  font-size: var(--font-h2);
  line-height: calc(var(--font-h2) + 2px);
  font-family: var(--font-head);
}
.text--h3{
  font-size: var(--font-h3);
  line-height: calc(var(--font-h3) + 2px);
  font-family: var(--font-head);
}
.text--h4{
  font-size: var(--font-h4);
  line-height: calc(var(--font-h4) + 2px);
  font-family: var(--font-head);
}
.text--base{
  font-size: var(--font-base);
  line-height: calc(var(--font-base) + 17px);
  font-family: var(--font-body);
}
@media(min-width: 2024px){
  .text--base{
    font-size: calc(var(--font-base) + 10px);
    line-height: calc(var(--font-base) + 25px); 
  }
}
.text--small{
  font-size: var(--font-small);
  line-height: calc(var(--font-small) + 6px);
  font-family: var(--font-body);
}
/**FONT WEIGHT*/
.text--w-head{
  font-weight: var(--font-weight-head);
}
.text--w-strong{
  font-weight: var(--font-weight-strong);
}
.text--w-title{
  font-weight: var(--font-weight-title);
}
.text--w-bquote{
  font-weight: var(--font-weight-bquote);
}
.text--w-base{
  font-weight: var(--font-weight-base);
}
.text--w-regular{
  font-weight: var(--font-weight-regular);
}
.text--w-tiny{
  font-weight: var(--font-weight-tiny);
}
/**ALIGN*/
.text--center{
  text-align: center;
}
.text--left{
  text-align: left;
}
.text--right{
  text-align: right;
}
/**FONT*/
.text--font-head{
  font-family: var(--font-head);
}
.text--font-base{
  font-family: var(--font-body);
}
