.intro{
    width: 100%;
   
    display: block;
    position: relative;
    z-index: 10;
}
.intro-height{
    height: 450px;
    width: 100%;
    display: block;
    position: relative;
  
}
@media(min-width:760px){
    .intro-height{
        height: 400px;
    }
}