.button{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border:none;
  display:flex;
  align-items: center;
  justify-content: center;
  width:max-content;
  min-width:100px;
  max-width: 300px;
}
.button:hover{
  
}
.button--primary-1{
  background: var(--color-primary-1);
  color:var(--color-dark-text);
}
.button--primary-2{
  background: var(--color-primary-2);
  color:var(--color-dark-text);
}
.button--secondary-1{
  background: var(--color-secondary-1);
  color:var(--color-dark-text);
}
.button--secondary-2{
  background: var(--color-secondary-2);
  color:var(--color-dark-text);
}
.button--warning-1{
  background: var(--color-warning-1);
  color:var(--color-dark-text);
}
.button--warning-2{
  background: var(--color-warning-2);
  color:var(--color-dark-text);
}
.button--error-1{
  background: var(--color-error-1);
  color:var(--color-dark-text);
}
.button--error-2{
  background: var(--color-error-2);
  color:var(--color-dark-text);
}
/**TEXT COLOR*/
.button-text-color--text-light{
  color: var(--color-light-text); 
}
.button-text-color--text-dark{
  color: var(--color-dark-text); 
}
.button-text-color--primary-1{
  color: var(--color-primary-1); 
}
.button-text-color--primary-2{
  color: var(--color-primary-2);  
}
.button-text-color--secondary-1{
  color: var(--color-secondary-1);
}
.button-text-color--secondary-2{
  color: var(--color-secondary-2);
}
.button-text-color--warning-1{
  color: var(--color-warning-1);
}
.button-text-color--warning-2{
  color: var(--color-warning-2);
}
.button-text-color--error-1{
  color: var(--color-error-1);
}
.button-text-color--error-2{
  color: var(--color-error-2);
}
/**SIZEEEES***/
.button--sm{
  height: 40px;
  min-width:100px;
  padding: 0 calc(var(--spacing) * 2);
}
.button--md{
  height: 40px;
  min-width: 150px;
  padding: 0 calc(var(--spacing) * 3);
}
.button--l{
  min-width: 220px;
  height: 40px;
  padding: 0 calc(var(--spacing) * 4);
}
.button--full{
  min-width: 100%;
  height: 40px;
  padding: 0 calc(var(--spacing) * 4);
}
.button--auto{
  min-width: max-content;
  height: 40px;
  padding: 0 calc(var(--spacing) * 4);
}
/***BORDER RADIUS**/
.button--br-0{
  border-radius: 0;
}
.button--br-sm{
  border-radius: calc(var(--spacing) * 1);
}
.button--br-md{
  border-radius: calc(var(--spacing) * 2);
}
.button--br-l{
  border-radius: calc(var(--spacing) * 3);
}
.button--br-full{
  border-radius: 999.99px;
}
.button--br-circle{
  border-radius: 50%;
}