.laurels{
  padding-bottom: calc(var(--spacing) * 25) ;
  padding-top: calc(var(--spacing) * 25) ;
  background-color: var(--color-body);
  position: relative;
}
.laurels__row{
  display: flex;
  flex-direction: column;
}
@media(min-width:760px){
  .laurels__row{
    flex-direction: row;
  }
}
.app__laurels_awards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;

}

.app__laurels_awards-card {
  width:100%;
}





.app__wrapper_img {
  flex: 1 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(min-width:960px){
  .app__wrapper_img {
   
    justify-content: flex-end;
   
  }
}
.app__wrapper_info {
  flex: 1 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}


.app__laurels_awards-card {
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
}



